# Конфиг с токенами и API ключами
properties.env

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml



# Файлы IntelliJ IDEA/GoLand
*.iml
modules.xml
vcs.xml
.idea/